<h2>Ready to Use REST API</h2>
<p>accessToken: <%= accessToken %></p>

<p><a href="/api/accessible-resources?at=<%= accessToken %>">Get Accessible Resources</a></p>

<p><a href="/api/projects?at=<%= accessToken %>">Get all projects</a></p>